<h1><u><%= "Following is the best exchange rate of requested target currency from USD in past 7 days" %></u></h1>
<p>Rate: <%= @best_rate %></p>
<p>Date: <%= @best_date %></p>
<%= link_to 'Back', root_path %>